@import "tailwindcss";

@theme {
  --color-primary: #2563eb;     
  --color-secondary: #f59e0b;    
  --color-neutral: #1e293b;      
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}



/* 
echo "# bookshub" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Rafiul-goni-rayhan/bookshub.git
git push -u origin main

*/

